/*{
    box-sizing: border-box;
}*/
.About-heading{
    font-family: papyrus;
    color: white;
    background-image: linear-gradient(to right,grey,silver);
    font-size: 50px;
    align-items: center;
    align-self: center;
    padding-top: 5%;

       
}
.About{
    padding-top: 5%;
    padding-bottom: 5%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(16rem, 13rem));
    gap:15rem;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to right,grey,silver);
}

.card{
    overflow: hidden;
    box-shadow: 0 2px 20px;
    border-radius: 0.2rem;
    justify-content:space-between;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform: 200ms ease-in;
}
.card-body{
    background-color: white;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 2px;
}
.card-img{
    object-fit: cover;
    height:20rem;
    width:100%;
}
.card-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
}
.card-desc{
    padding: 0rem 1rem;
    
}
.card-button{
    padding: 0.2rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    border: 3px solid black;
    margin: 1rem;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}
.card:hover .card-button{
    background-color: black;
    color: white;
}