
.Home{

    background-image:url(./Images/LeopardSleep.jpg); 
    
    background-size: cover;
    background-attachment: fixed;
    background-position:center;

}
.Home-head{
    font-size: 60px;
    font-family: Copperplate, Papyrus, fantasy;
    color: white;
    padding-top: 15rem;
   text-align: center;
    font-weight:normal;
    word-spacing: 3px;
   
}
.Home-body{
    color: white;
    font-size: 20px;
    padding: 5rem 10rem 0 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 2px;
    text-align: center;
    padding-bottom: 15.4%;
}